<div class="footer-container" style="background-color: #e3f2fd;">
    <div class="fs-2 fw-bold"> Create your own event<div>
    <hr>
    <div class="fs-5 fw-normal">Your Account</div>
    <a class="fs-5 fw-normal me-3 text-dark text-decoration-none" style="display:block" href="/login">Login</a>
    <a class="fs-5 fw-normal me-3 text-dark text-decoration-none" style="display:block" href="/signup">Sign Up</a>
</div>
