
<nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
  <div class="container-fluid">
   <a class="navbar-brand" href="#">
      <img src="/images/solidify-logo.png" alt="logo" width="160" height="50">
    </a>
    <div class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 text-dark text-decoration-none" href="/calendar">Calendar</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="/login">Login</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="/signup">Sign Up</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="/add-event">Add Event</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="/logout">Log Out</a>
    </div>
  </div>
</nav>
