{{> nav}}
<h1 class="title-header">Welcome,  <span id="user">{{user}}</span> </h1>
<div class="container-md text-center mt-3">
   <div class="row">
    <div class="col-md-6 gx-5 mb-4">
    <h1>Calendar</h1>
    <div id="calendar"></div>
    </div>
    <div class="col-md-6 gx-5 mb-4">

    </div>
</div>
</div>
</div>
 {{> footer}}