{{> nav}}
<div>
<h1 class="title-header">Welcome to Solidify</h1>

</div>

 <div class="container-xl">
        <section>
          <div class="row">
            <div class="col-md-6 gx-5 mb-4">
              <h3><strong>Solidify</strong></h3>
              <h5>Solidify brings you to new dimension of group buying experience and get people connected.</h5>
            </div>
             <div class="col-md-6 gx-5 mb-4">
              <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src="/images/home1.png" width="600" height="120" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>
          </div>
        </section>
<hr class="my-5">
<section class="text-center">
          <h4 class="mb-5"><strong>Features</strong></h4>

          <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
              <div class="card">
                  <img
                    src="/images/card1.png" width="600" height="120"
                    class="img-fluid"
                  />
                <div class="card-body">
                  <h5 class="card-title">Create and event on calendar</h5>
                  <p class="card-text">
                    Brainstorming an event that you want to do. It could be a sport an event or else which needs people top join. Smash the button and add this event to the calendar.
                  </p>
                  <a href="#!" class="btn btn-primary">Calendar</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                
                  <img
                    src="/images/card2.png" width="600" height="120"
                    class="img-fluid" 
                  />
    
                <div class="card-body">
                  <h5 class="card-title">Looking for people to join event</h5>
                  <p class="card-text">
                    Once added an event to the calendar, our members can join the event. Click the button to checkout the active events. 
                  </p>
                  <div id="event-button" onclick="showEvent(this)" class="btn btn-primary">See Event</div>
                  <div id="event-data" style="display:none">

                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
             <img
                    src="/images/card3.png" width="400" height="40"
                    class="img-fluid"
                  />
                <div class="card-body">
                  <h5 class="card-title">Checkout</h5>
                  <p class="card-text">
                    Coming Soon 
                  </p>
                  <a href="#!" class="btn btn-primary">Stripe Payment</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        </div>
{{> footer}}