{{> signin}}
<div class="container-md text-center mt-3">
  <div class="row my-5">
    {{!-- <div class="col my-5"style="background-color:blue"> --}}
  <div class="col-md-6 py-5" >
    <div class="card card-body">
      <h1 class="text-center mb-3">Login</h1>
      <form action="/login" method="post">
        <div class="form-group mb-3">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group mb-3">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-3">Login</button>
        <br>
         <a href="/auth/facebook">Login With Facebook</a>

        <a href="/auth/google">Login With Google</a>
      </form>
      <p class="lead mt-4">
        No Account? <a href="/signup">Register</a>
      </p>
    </div>
  {{!-- </div> --}}

    </div>
    <div class="col">
     <img src="/images/background.webp" class="img-fluid" width="1000" height="600%"/>
    </div>
  </div>
</div>


