.border-nav{
    border-width: 5px;
}

.bg-success {
    --bs-bg-opacity: 5;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
  }
.image-col{
    background-image: url("/public/images/background.webp");
    background-color: dimgray;
}

.title-header{
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.container-xl{
    padding-top: 5rem;
}

.footer-container {
    padding-top: 4rem;
    padding-left: 14rem;
    padding-right: 14rem;
    padding-bottom: 4rem;
}

hr {
    position: relative;
    top: 20px;
    height: 6px;
    background: black;
    margin-bottom: 50px;
}

.event-data {
    margin-top: 2rem;
}

.container{
    width:800px;
    height:500px;
    position: absolute;
}